body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
    font-family: rubik;
    src: url(./Font/Rubik.ttf);
}
@font-face {
    font-family: poppins;
    src: url(./Font/Poppins-Regular.ttf);
}
@font-face {
    font-family: poppinsbold;
    src: url(./Font/Poppins-Bold.ttf);
}

